@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

body {
  overflow: hidden;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid aqua;
  background: white;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.08s ease-out;
  z-index: 9999;
}

a:hover~.custom-cursor,
button:hover~.custom-cursor {
  transform: scale(1.8);
}

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #FAF0E6;
  /* background: #00e5ff; */
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.12s ease-out;
  will-change: transform, opacity;
}